* {
  font-family: 'Sen', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/background1.png");
  min-height: 100vh;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255, 235, 205, 0.757);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 6%;
}

.navList {
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
}

.about,
.projects,
.taryn {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  color: #61383f;
}

.nav.hidden-links .navList .navBar a {
  display: none;
}

.menu-button {
  background-image: url("./assets/hidden-button.png");
  width: 40px;
  height: 40px;
  margin-left: 2%;
  margin-top: 0.3%;
}

.border-main {
  border-style: ridge;
  border-color: #723d46;
  padding: 75px;
  background-color: blanchedalmond;
  text-align: center;
  margin: -220px auto 0 auto;
}

.self-pic {
  height: 200px;
  width: 150px;
  box-sizing: border-box;
  border-style: ridge;
  border-color: #723d46;
  transform: translate(460px, -90px);
}

#main-header {
  font-size: 75px;
  color: #472d30;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#intro {
  color: #723d468c;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

#job-description {
  color: #723d46;
  font-size: 25px;
  font-style: oblique;
  margin: 0 auto;
  max-width: 400px;
}

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(255, 235, 205, 0.757);
  padding: 4px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.github {
  width: 55px;
  height: 50px;
  margin-top: 2px;
  margin-left:10px
}

.linkedin {
  width: 45px;
  height: 45px;
  background-color: antiquewhite;
  margin-top: 4px;
  margin-left: 12px;

}

#northcoders{
  text-decoration: none;
  color:orangered;
  font-weight: bold;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgba(132, 121, 150, 1);
  }
  to {
    text-shadow: 0 0 12px rgba(132, 121, 150, 0.5),
      1px 0 12px rgba(132, 121, 150, 0.5), 0 1px 12px rgba(132, 121, 150, 0.5),
      1px 1px 12px rgba(132, 121, 150, 0.5);
  }
}
.skills {
  display: flex;
  margin-left: 23%;
  width: 380px;
  padding-bottom: 18px;
  margin: 0 auto;
}

.about-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 30px;
  background-color: blanchedalmond;
  border-style: ridge;
  border-color: #61383f;
  text-align: center;
  color:#472d30;
  font-size: 18px;
  max-width: 2000px;
  max-height: 1000px;
  transform: translate(0px, -60px);

}

.heading-about {
  text-align: center;
  padding: 1px;
}

.text-about {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.5;
}

#toolkit{
  text-decoration: overline;
  padding-top: 2px;
}

.projects-box{
  box-sizing: border-box;
  background-color: blanchedalmond;
  padding:2px;
  text-align:center;
  transform: translate(0px, 100px);
  color: #472d30;
}

#ncnews{
  box-sizing: border-box;
  background-color: blanchedalmond;
  padding:20px;
  transform: translate(-500px, 160px);
}

#news-api{
  box-sizing: border-box;
  background-color: blanchedalmond;
  padding:20px;
  transform: translate(400px, -300px);

}

#newsImage, #apiImage{
  height:250px;
  width:500px;
}

#links-ncnews, #live-ncnews, #github-ncnews, #links-api, #live-api, #github-api{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2px;
  color: #472d30;
}
@media (max-width: 768px) {
  body {
    flex-direction: column;
    text-align: center;
  }

  .border-main{
    max-width: 200px;
    margin: -70px auto 0 auto;
  }
  .self-pic {
    display: none;
  }

  #main-header {
    font-size: 40px;
  }

  .navBar {
    font-size: 16px;
  }

  .skills {
    max-width: 100px;
  }
}

@media (max-width: 768px) {
  #main-header {
    font-size: 32px;
  }

  .navBar {
    display: flex;
    justify-content: center;
    margin-left: 13%;
  }

  .about,
  .projects,
  .taryn {
    font-size: 12px;
  }

  #intro {
    font-size: 14px;
  }

  #job-description {
    font-size: 14px;
  }

  .menu-button {
    display: flex;
    justify-content: flex-start;
  }
  .footer {
    padding: 4px;
  }
  .linkedin {
    width: 30px;
    height: 30px;
  }
  .github {
    width: 30px;
    height: 30px;
  }
}
