

*{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
  margin:0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/background1.png');
  min-height: 100vh;
}


.navBar {
  display:flex;
  justify-content:space-evenly;
    background-color:rgba(255, 235, 205, 0.757);
    box-sizing: border-box;
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    margin-left: 6%;
}

.navList{
  padding:0
}

.nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:90%;
}


.about, .projects, .taryn{
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight:bolder;
  color:#61383f;
}

.nav.hidden-links .navList .navBar a {
  display: none;
}

.menu-button{
  background-image: url('./assets/hidden-button.png');
  width: 40px;
  height:40px;
  margin-left: 2%;
  margin-top: 0.3%;
}

.border-main {
  border-style:ridge;
  border-color: #723d46;
  padding: 75px;
  background-color:blanchedalmond;
  text-align: center; /* Center text within the container */
  margin: 0 auto; 
}

#main-header {
  font-size: 100px;
  color: #472d30;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#intro {
  color: #723d468c;
  font-size: 25px;
  margin:0;
  padding:0;
}

#job-description {
  color: #723d46c0;
  font-style: oblique;
}

.footer{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color:rgba(255, 235, 205, 0.757);
  padding:4px;
  position:absolute;
left:0;
bottom:0;
right:0;
}
.github{
  width:55px;
  height: 50px;
  margin-left: 2px;
 
}

.linkedin{
  width:50px;
  height: 50px;
  background-color: antiquewhite;
  margin-left:8px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgba(132, 121, 150, 1);
  }
  to {
    text-shadow: 0 0 12px rgba(132, 121, 150, 0.5),
      1px 0 12px rgba(132, 121, 150, 0.5), 0 1px 12px rgba(132, 121, 150, 0.5),
      1px 1px 12px rgba(132, 121, 150, 0.5);
  }
}
  .skills {
    display: flex;
    margin-left: 23%;
    width: 380px;
    padding-bottom: 18px;
    margin: 0 auto;
  }

.about-section{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin-top:30px;
  background-color: blanchedalmond;
  border-style: ridge;
  border-color: #61383f;
  text-align: center;
}

.heading-about{
  text-align: center;
  padding: 1px;
}

.text-about {
  text-align: center; 
  max-width: 800px; 
  margin: 0 auto;
  padding:15px;
}


@media (max-width: 768px) {
  body {
    flex-direction: column;
    text-align: center;
  }

  #main-header {
    font-size: 40px;
  }

  .navBar {
    font-size: 16px;
  }

  .skills{

    width:200px;
  }
}

@media (max-width: 768px) {
  #main-header {
    font-size: 32px; 
  }

  .navBar{
    display: flex;
    justify-content:flex-end
  }

  .about, .projects, .taryn {
    font-size: 15px;

  }

  #intro {
    font-size: 14px; 
  }

  #job-description {
    font-size: 14px;
  }

  .menu-button{
    display: flex;
    justify-content: flex-start;

  }
}
