
* {
  font-family: 'Sen', sans-serif;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
}



.navBar {
  display: flex;
  justify-content:space-evenly;
  background-color:#fcd5ce;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 10;
}

a
{
 text-decoration: none;
 font-size: larger;
 color: #472d30;
 font-weight: bold;
 z-index: 1000;
}

.border-main {
  text-align: center;
  margin: -220px auto 0 auto;
  background-color: #fcd5ce;
  padding-bottom:5%;
}

.self-pic {
  height:400px;
  transform: translate(500px, 400px);
  z-index:1;

}

#main-header {
  font-size: 75px;
  color: #472d30;
  transform: translate(-200px, 0px)
}

#intro {
  color: #723d468c;
  font-size: 25px;
  transform: translate(-340px, 0px)
}

#job-description {
  color: #723d46;
  font-size: 25px;
  margin: 0 auto;
 max-width: 700px;
 text-align: left;
 transform: translate(-30px, 0px)
}

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color:#f9dcc4;
  padding: 4px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.github {
  width: 55px;
  height: 50px;
  margin-top: 2px;
  margin-left:10px
}

.linkedin {
  width: 45px;
  height: 45px;
  margin-top: 4px;
  margin-left: 12px;

}

#northcoders{
  text-decoration: none;
  color:blanchedalmond;
  font-weight: bold;
}


.skills {
  display: flex;
  margin-left: 23%;
  width: 380px;
  padding-bottom: 18px;
  margin: 0 auto;
}

.about-section{
  background-color:#ffb5a7; 
}


.heading-about {
  padding:0;
  margin:0;
  text-align: center;
  color: #472d30;
  padding-top: 100px;

}

.text-about {
  background-color: #ffb5a7;
  text-align: left;
  margin:0;
  margin-left: 500px;
  margin-right: 500px;
  padding: 20px;
  line-height: 2;
  
}

#toolkit{
  text-decoration: overline;
  text-align: center;
  padding-top: 2px;
}

.projects-container{
  
  text-align:center;
  color: #472d30;
  background-color: #fcd5ce;
  padding-top:100px;

}

#project-header{
  margin-left:-180px;
}

#news-description, #api-description {
  text-align: left;
  margin-top: 200px;
  margin-left: 1100px;
}

#newsImage, #apiImage {
  height: 250px;
  width: 500px;
  margin-left: -300px;
  margin-top: -300px
}

#news-api{
  padding-bottom:100px;
}

 #live-ncnews, #github-ncnews, #live-api, #github-api{
  border-style:solid;
  font-size: 20px;
  font-weight: bold;
  padding-top: 2px;
  color: #472d30;
}

#links-ncnews, #links-api{
  padding-top: 20px;
  padding-bottom: 20px;
}


@media screen and (max-width: 768px) {

  body{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .navBar, a {
    font-size: 14px;
    padding:5px;
  
  }

  .self-pic {
    padding:20px;
    padding-bottom: 0px;
    height: 200px;
     width: 160px; 
  transform: translate(0, 0)}

  .border-main {
    margin: 0;
    padding: 5%;
  }

  #main-header {
    font-size: 40px;
    transform: translate(0, 0)
  }

  #intro {
    transform: translate(0, 0);
  }

  #job-description {
    transform: translate(0, 0);
  }

  .footer {
    flex-direction: column;
  }

  .skills {
    margin: 0;
    width: 100%;
  }

  .heading-about{
    padding:20px;
  }

  .text-about {
    margin-left: 20px;
    margin-right: 20px;
  }

  .projects-box {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .projects-container{
    padding:20px;
  }

  #ncnews {
    transform: translate(0, 0);
  }

  .footer {
    display: flex;
    padding-bottom: 7px;
  }

  #footer-sign{
    font-size: 7px;
  
  }

  .linkedin {
    width: 20px;
    height: 20px;
    margin-left:120px;
    margin-top: -14px;
  }
  .github {
    width: 30px;
    height: 30px;
    margin-left:135px;
    margin-top: 2px;
  }

  #news-description, #api-description {
    margin-left: 30px;
    margin-top: 2px;
  }


  #newsImage {
    height: 200px;
    width: 300px;
    margin-left: 0px;
    margin-top: 50px;
  }

}

  



